<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CameraAddress" value="http://192.168.1.77/image/jpeg.cgi"/>
		<add key="CameraUsername" value="" />
		<add key="CameraPassword" value="" />
		<add key="SnapshotFolder" value="C:\Temp\Cam"/>

		<add key="FTPAddress" value="ftp://"/>
		<add key="FTPUsername" value="" />
		<add key="FTPPassword" value="" />
	</appSettings>
		
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
